@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header {
	background-color:#78a3eb;
	width: 100%;
	height: 80px;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#cabecera {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

nav {
	display: flex;
	flex-direction: row;
	width: 700px;
	height: 80px;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
}

nav ulm {
	list-style: none;
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li {
	font-family: "atma, Regular";
    font-size: 15px;
    color: #051960;
	padding: 5px 10px 5px 10px;
	list-style-type: disc;
	display: inline-block;
}

a {
    text-decoration: none;
    color:#051960;
    cursor: pointer;
	font-family: "atma";
}

a:hover {
    color:lightpink;
    cursor: pointer;
	background-color: #3c21b7;
	border-radius: 75px;
	padding: 5px 20px 5px 20px;
	display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
	font-family: "atma";
    font-size: 15px;
    color: #051960;
}

h2 {
    font-family: "Macondo Swash Caps";
	font-size: 80px;
    color: #051960;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h4 {
	font-family: "atma, Regular";
    font-size: 10px;
    color: #051960;
}

#porfolio {
	font-family:"Macondo Swash Caps";
    font-size: 80px;
	-webkit-text-stroke: 1px #051960;
	color: transparent;
	position: relative;
	top: 290px;
	right: 375px;
}

.portada {
	width: 100px;
	height: 600px;
	display: flex;
	margin-left: 180px;
}

.apellido {
	font-family: "Macondo Swash Caps";
	font-size: 80px;
	display: flex;
	-webkit-text-stroke: 1px #051960;; 
	color: transparent;
}

.nombre {
	font-family: "Macondo Swash Caps";
	font-size: 80px;
    border-color: #051960;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	-webkit-text-stroke: 1px #051960;; 
	color: transparent;
	right: 400px
}

main {
	background: linear-gradient(180deg, #78a3eb, #fbc2eb);
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #78a3eb;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}