@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

header {
	background-color:#78a3eb;
	width: 100%;
	height: 80px;
}

nav {
	display: flex;
	width: 1200px;
	height: 80px;
}

nav ulm {
	list-style: none;
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li {
	font-family: "atma, Regular";
    font-size: 10px;
    color: #051960;
}

a {
    text-decoration: none;
    color:lightpink;
    cursor: pointer;
}

a:hover {
    color:lightpink;
    cursor: pointer;
}

.portada {
	width: 100%;
	height: 100vh;
	display: flex;
}

h1 {
	font-family: "atma";
    font-size: 10px;
    color: #051960;
}

h2 {
    font-family: "RosieBrown Serif Demo.otf";
}

main {
	background-color: #fbc2eb;
	width: 100%;
	height: 1900px;
	display: flex;
	flex-direction: column;
}

footer {
	background-color: #78a3eb;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}